body{padding-top: 80px;}
#navbarAll{color: black; background-color: #595959;}
@media only screen and (max-width: 768px){[class*="col-"]{width: 100%;}}
#navbarBurgrBtn{text-align: center; border-color: #cfd11a; background-color: #595959;}
#navbarBurgrBtn:hover{border-color: #FFF; background-color: #FFF;}
#navbarLogo{color: #cfd11a;}
#navbarLogo:hover{color: #FFF;}
#navbarLink{color: #000; text-decoration: none;}
#navbarLink:hover{color: #FFF; text-decoration: none;}
#navbarSearchBtn{color: #cfd11a; border-color: #cfd11a;}
#navbarSearchBtn:hover{background-color: #FFF;}
#navbarSearchBtn:focus, #navbarSearchBtn:active{outline: none; box-shadow: none;}
#navbarModalBtn{margin-left: 10px; color: #cfd11a; border-color: #cfd11a; background-color: #595959;}
#navbarModalBtn:hover{background-color: #FFF;}
#navbarModal{}
.jumbotron{text-align: center;}
.card{float: left; height: 40rem;}
footer{background-color: #808f85;margin-top: 20px;}
footer h3{color: #cfd11a; padding-left: 6% ;margin-top: 10px;}
footer li, a{list-style: none; font-size: 20px; color: #f2e9dc;}
i{align-items: center; font-size: 40px; margin-left: auto;margin-top: 10px}
.footer-copyright{background-color: #5e6961;}
